In [1]:
# First all 9 transaction files are loaded and conactenated into one DataFrame
import pandas as pd
dataf1 = pd.read_csv("enugu_transactions.csv")
dataf2 = pd.read_csv("fct_transactions.csv")
dataf3 = pd.read_csv("kano_transactions.csv")
dataf4 = pd.read_csv("lagos_transactions.csv")
location_df = pd.read_csv("atm_location lookup.csv")
customers_df = pd.read_csv("customers_lookup.csv")
trans_type_df = pd.read_csv("transaction_type lookup.csv")
hour_df = pd.read_csv("hour lookup.csv")
calendar_df = pd.read_csv("calendar lookup.csv")

# Here transaction data from all states/locations are concatenated into one dataframe
transactions = pd.concat([dataf1, dataf2, dataf3, dataf4], ignore_index=True)

In [2]:
# location data are merged
transactions = transactions.merge(location_df, on="LocationID", how="left")

# customer data are merged
transactions = transactions.merge(customers_df, on="CardholderID", how="left")

# transaction type are merged
transactions = transactions.merge(trans_type_df, on="TransactionTypeID", how="left")

# hour data (based on extracted hour) are merged
transactions["hour"] = pd.to_datetime(transactions["TransactionStartDateTime"]).dt.hour
transactions = transactions.merge(hour_df, on="Hour_Key", how="left")

# calendar data (based on date) are merged
transactions["date"] = pd.to_datetime(transactions["TransactionStartDateTime"]).dt.date
transactions = transactions.merge(calendar_df, on="Date", how="left")

In [3]:
#Numpy is Imported
import numpy as np

In [6]:
transactions.shape
transactions.columns

Index(['TransactionID', 'TransactionStartDateTime', 'TransactionEndDateTime',
       'Date', 'CardholderID', 'LocationID', 'TransactionTypeID',
       'TransactionAmount', 'Hour_Key', 'Location Name', 'No of ATMs', 'City',
       'State', 'Country', 'First Name', 'Last Name', 'Gender', 'ATMID',
       'Birth Date', 'Occupation', 'AccountType', 'IsWisabi',
       'TransactionTypeName', 'hour', 'Hour_Start_Time', 'Hour_End_Time',
       'date', 'Year', 'Month Name', 'Month', 'Quarter', 'Week of Year',
       'End of Week', 'Day of Week', 'Day Name', 'IsHoliday'],
      dtype='object')

In [7]:
transactions.to_csv("unioned_transactions.csv", index=False)

In [8]:
# Check for missing values
missing_values = transactions.isnull().sum()
print("Missing values:\n", missing_values)

Missing values:
 TransactionID                     0
TransactionStartDateTime          0
TransactionEndDateTime            0
Date                              0
CardholderID                      0
LocationID                        0
TransactionTypeID                 0
TransactionAmount                 0
Hour_Key                          0
Location Name                     0
No of ATMs                        0
City                              0
State                             0
Country                           0
First Name                        0
Last Name                         0
Gender                            0
ATMID                             0
Birth Date                        0
Occupation                        0
AccountType                       0
IsWisabi                          0
TransactionTypeName               0
hour                              0
Hour_Start_Time                   0
Hour_End_Time                     0
date                              0
Year                        1723740
Month Name                  1723740
Month                       1723740
Quarter                     1723740
Week of Year                1723740
End of Week                 1723740
Day of Week                 1723740
Day Name                    1723740
IsHoliday                   1723740
dtype: int64